body {

}
/* DRY = 
Don't Repeat Yourself */
section div {
    width: 3rem;
    height: 3rem;
    border: 2px black solid;
    border-radius: 50%;
}
#red {
    background-color: red;
}
#yellow {
    background-color: yellow;
}
#green {
    background-color: green;
}